body {
  margin: 0;
  padding: 0;
  background-image: url("images/backgoundForest2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

header #menuToggle{
  position: fixed;

  
}

.framsidabild {
  padding: 100px;
  height: 1000px;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box; /* Inkluderar padding och border i elementets totala bredd/höjd */
  border-radius: 3px;
}
.framsidabildContainer {
  display: flex;
  justify-content: center;
}

.valkomstext {
  position: absolute; 
  top: 20px; 
  left: 300px; 
  color: rgb(11, 62, 11); 
  font-size: 56px; 
  font-family: "Tangerine", cursive;
  padding: 10px;
}

h2 {
  font-family: "Cinzel Decorative", serif; /*här är fonten för alla rubrikerna  */
  
}

/* **** **** **** Navigationbar hover mus  ******** **** */
ul#mynav {
  list-style-type: none; 
  padding-left: 40px; 
  margin: 0; 
  /* font-family: "Bodoni Moda SC", serif; */
}

ul#mynav li {
  margin-bottom: 10px; /* Lägger till ett mellanrum mellan varje länk */
}

ul#mynav li a {
  text-decoration: none;
  opacity: 80%;
  color: white;
  display: block; 
  padding: 15px; 
  font-size: 40px;
  font-family: "Cinzel Decorative", serif;
  cursor: pointer; 
  transition: font-size 0.2s ease, transform 0.2s ease; 
}

ul#mynav li a:hover {
  font-size: 22px; 
  transform: scale(1.05);
}

/*  ******** *************** ****************** *************************************** ************ */
/*  ******** **** **** FLEX BOX CENTER FÖR ALLA TRE , navigationbar, information  och timercontdown ************ */
.MainCenterBox {
  display: flex; /* Gör MainCenterBox till en flex container */
  flex-direction: column; /* Lägg till detta för att stapla elementen vertikalt */
  border-radius: 3px;
  background-color: #DDF7D1;
  padding: 15px 0px 40px 0px;
  margin: 40px 70px 60px 70px;
  box-shadow: 0px 0px 20px white;
}

#navigationbar {
  width: 200px; 
}

.information {
  flex: 1; 
  padding: 20px;
  background-color: #F4FBF2;
  margin: 20px 50px 10px 70px;
  border-radius: 3px;
  /* font-family: "Cinzel Decorative", serif;   HÄR SKA rätt font vara, anna måste välja en  */
  /* font-family: "Ruge Boogie", cursive; finns på HMLT sidan : informationsbrödtext  */
  box-sizing: border-box;
}


ul#mynav li a {
  text-decoration: none;
  color: black; 
  font-size: 18px;
  padding: 10px 20px; 
  display: block; 
}

.content-section {
  display: none; 
}

.content-section:first-child {
  display: block; 
}

.MainContent {
  display: flex;
  flex-direction: row; 
  gap: 20px;
}
/*  ************ ****Time Conter Down  **** *********/
#TimeCountDown { /*timmar, minuter */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
}

#TimeCountDown div {
  margin: 0 50px;
  text-align: center;
  font-family: "Bodoni Moda SC", serif;
}

#TimeCountDown div span { /*siffrorna */
  display: block;
  font-size: 30px;
  color: black;
  margin-bottom: 3px;
}

/*  ******** **** Time Conter Down FÖR  linje OCH texten **** ****  */
hr {
  border: none; 
  height: 2px; 
  background-color: #333; 
  width: 80%; 
}

.TimerCountText {
  text-align: center;
  font-size: 40px;
  font-family: "Bodoni Moda SC", serif;
  color: black;
}

.HelaTimeCountDown {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin-top: 40px;
}

.fannyCopyright {
  text-align: left;
  margin-left: 10px;
  color: white;
  
}

/* ********* ********** ******** carousel ************** **************/
.carousel-item > img {
  max-width: 100%;
}
.carousel {
  width: 200px;
}
.style-cauresell-bilder {
  display: flex;
  gap: 10px;
}



/*  ********* ********** ******** Links in brödtext or klickbara  ********* ********** ******** */
.OSAlinkValkomen a{
  text-decoration: none; 
  color: black;
  cursor: pointer;
}

.OSAlinkValkomen a:hover {
  text-decoration: underline; 
} 

.KungshagaWebb {
  font-size: 18px; 
  text-decoration: none; 
  color: black;
}
.KungshagaWebb:hover{
  text-decoration: underline; 
}




/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */
/* ******** ******** ********  NAVIGERINGMENY @media query 375 ******** ******** ******** ********   */
/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */

#navigationbar {
  position: relative;
  display: flex;
  justify-content: flex-start; 
}

#menuToggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: black;
  text-decoration: none
}

ul#mynav {
  list-style: none;
  padding-left: 10px;
  display: block; 
  gap: 20px; 
}


@media (max-width: 375px) {
  #menuToggle {
    display: block; 
    position: fixed; 
    z-index: 1000; 
    background-color: #DDF7D1;  
    width: 100%;
    text-align: left ;
    color: black;
    text-decoration: none
  }

  ul#mynav {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    flex-direction: column; 
    width: 100%;
    position: fixed; 
    top: 30px; 
    left: 0;
    background-color:#DDF7D1; 
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
  }
}
ul#mynav.visible {
  max-height: 70vh; /* Begränsa höjden på menyn så att den kan skrollas */
  overflow-y: auto; /* Gör menyn skrollbar */
}
  
/* Bakgrundbild skogen  */
@media (max-width: 375px) {
  body {
    background-size: contain; 
    background-position: top; 
    background-attachment: scroll; 
  }
}

/* Bakgrund för MainCenterBox */
@media (max-width: 375px) {
  .MainCenterBox {
    margin: 4px; 
    border-radius: 0; 
    /* width: 100vw; 
    height: 100vh;  */
  }
  body {
    background-size: cover; 
    background-position: center; 
  }
}


@media only screen and (max-width: 375px) {
  .content-section {
    display: block; /* Se till att sektionerna är synliga */
  }

  #navigationbar {
    /* Kontrollera din meny om du använder en mobilvänlig version */
    z-index: 1000;  /* Se till att inget täcker länkarna */
  }
}


/*  ************ ****Time Conter Down  **** *********/
@media (max-width: 375px) {
  hr {
    width: 80%; 
  }

  .TimerCountText {
    font-size: 25px; /* bröllopsdag om*/
  }

  #TimeCountDown div {
    margin: 5px; 
  }

  #TimeCountDown div span {
    font-size: 20px; /* Siffrorna */
    margin-bottom: 3px;
  }

  #TimeCountDown{ 
    font-size: 15px; /*timmar, minuter */
  } 
}

/*  ************ **** Information   **** *********/
@media (max-width: 375px) {
  .information {
    margin: -5px 10px 0px -210px;
     
  }
}

/*  ************ **** Välkomstext   **** *********/
@media (max-width: 375px) {
  .valkomstext {
    position: absolute; 
    top: 50px; 
    left: 80px; 
    color: #304d20; 
    font-size: 25px; 
    font-family: "Great Vibes", cursive;
    padding: 15x; 
  }
}

@media (max-width: 375px) {
  .style-cauresell-bilder {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
  }
}

/* ****** *******iframe  */
.responsive-map {
  width: 100%;
  max-width: 680px;
  height: 250px;
}

@media (max-width: 375px) {
  .responsive-map {
    height: 200px;
  }
}

/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */
/* ******** ******** ********  NAVIGERINGMENY @media query 430 ******** ******** ******** ********   */
/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */



@media (max-width: 430px) {
  #menuToggle {
    display: block; 
    position: fixed; 
    z-index: 1000; 
    background-color: #DDF7D1;  
    width: 100%;
    text-align: left ;
    color: black;
    text-decoration: none
  }

  ul#mynav {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    flex-direction: column; 
    width: 100%;
    position: fixed; 
    top: 30px; 
    left: 0;
    background-color:#DDF7D1; 
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
  }
}
ul#mynav.visible {
  max-height: 70vh; /* Begränsa höjden på menyn så att den kan skrollas */
  overflow-y: auto; /* Gör menyn skrollbar */
}
  
/* Bakgrundbild skogen  */
@media (max-width: 430px) {
  body {
    background-size: contain; 
    background-position: top; 
    background-attachment: scroll; 
  }
}

/* Bakgrund för MainCenterBox */
@media (max-width: 430px) {
  .MainCenterBox {
    margin: 4px; 
    border-radius: 0; 
    /* width: 100vw; 
    height: 100vh;  */
  }
  body {
    background-size: cover; 
    background-position: center; 
  }
}


@media only screen and (max-width: 430px) {
  .content-section {
    display: block; /* Se till att sektionerna är synliga */
  }

  #navigationbar {
    /* Kontrollera din meny om du använder en mobilvänlig version */
    z-index: 1000;  /* Se till att inget täcker länkarna */
  }
}


/*  ************ ****Time Conter Down  **** *********/
@media (max-width: 430px) {
  hr {
    width: 80%; 
  }

  .TimerCountText {
    font-size: 25px; /* bröllopsdag om*/
  }

  #TimeCountDown div {
    margin: 5px; 
  }

  #TimeCountDown div span {
    font-size: 20px; /* Siffrorna */
    margin-bottom: 3px;
  }

  #TimeCountDown{ 
    font-size: 15px; /*timmar, minuter */
  } 
}

/*  ************ **** Information   **** *********/
@media (max-width: 430px) {
  .information {
    margin: -5px 10px 0px -210px;
     
  }
}

/*  ************ **** Välkomstext   **** *********/
@media (max-width: 430px) {
  .valkomstext {
    position: absolute; 
    top: 50px; 
    left: 80px; 
    color: #304d20; 
    font-size: 25px; 
    font-family: "Great Vibes", cursive;
    padding: 15x; 
  }
}

@media (max-width: 430px) {
  .style-cauresell-bilder {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
  }
}

/* ****** *******iframe  */

@media (max-width: 430px) {
  .responsive-map {
    height: 200px;
  }
}



/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */
/* ******** ******** ********  NAVIGERINGMENY @media query 810 ******** ******** ******** ********   */
/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */


@media (max-width: 810px) {
  #menuToggle {
    display: block; 
    position: fixed; 
    z-index: 1000; 
    background-color: #DDF7D1;  
    width: 100%;
    text-align: left ;
    color: black;
    text-decoration: none
  }

  ul#mynav {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    flex-direction: column; 
    width: 100%;
    position: fixed; 
    top: 38px; 
    left: 0;
    background-color:#DDF7D1; 
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
  }
}
ul#mynav.visible {
  max-height: 70vh; /* Begränsa höjden på menyn så att den kan skrollas */
  overflow-y: auto; /* Gör menyn skrollbar */
}
  
/* Bakgrundbild skogen  */
@media (max-width: 810px) {
  body {
    background-size: contain; 
    background-position: top; 
    background-attachment: scroll; 
  }
}

/* Bakgrund för MainCenterBox */
@media (max-width: 810px) {
  .MainCenterBox {
    margin: 4px; 
    border-radius: 0; 
    /* width: 100vw; 
    height: 100vh;  */
  }
  body {
    background-size: cover; 
    background-position: center; 
  }
}


@media only screen and (max-width: 810px) {
  .content-section {
    display: block; /* Se till att sektionerna är synliga */
  }

  #navigationbar {
    /* Kontrollera din meny om du använder en mobilvänlig version */
    z-index: 1000;  /* Se till att inget täcker länkarna */
  }
}


/*  ************ ****Time Conter Down  **** *********/
@media (max-width: 810px) {
  hr {
    width: 80%; 
  }

  .TimerCountText {
    font-size: 25px; /* bröllopsdag om*/
  }

  #TimeCountDown div {
    margin: 5px; 
  }

  #TimeCountDown div span {
    font-size: 20px; /* Siffrorna */
    margin-bottom: 3px;
  }

  #TimeCountDown{ 
    font-size: 15px; /*timmar, minuter */
  } 
}

/*  ************ **** Information   **** *********/
@media (max-width: 810px) {
  .information {
    margin: -5px 10px 0px -210px;
     
  }
}

/*  ************ **** Välkomstext   **** *********/
@media (max-width: 810px) {
  .valkomstext {
    position: absolute; 
    top: 50px; 
    left: 80px; 
    color: #304d20; 
    font-size: 25px; 
    font-family: "Great Vibes", cursive;
    padding: 15x; 
  }
}

@media (max-width: 810px) {
  .style-cauresell-bilder {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
  }
}

/* ****** *******iframe  */

@media (max-width: 810px) {
  .responsive-map {
    height: 200px;
  }
}
