body {
  margin: 0;
  padding: 0;
  background-image: url("images/backgoundForest2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

header #menuToggle {
  position: fixed;
}

.framsidabildContainer {
  display: flex;
  justify-content: center;
  padding: 30px 30px 10px 30px;
}

.framsidabild {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.framsidabild.mobile {
  display: none;
}

@media (max-width: 900px) {
  .framsidabildContainer {
    padding: 30px 10px 10px 10px;
  }

  .framsidabild.desktop {
    display: none;
  }

  .framsidabild.mobile {
    display: block;
  }
}

/* .valkomstext { gamla text innan william fixade fast text på bild 
  position: absolute;
  top: 80px;
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: "Tangerine", cursive;
  padding: 10px;
} */

h2 {
  font-family: "Cinzel Decorative", serif;
  /*här är fonten för alla rubrikerna  */
}

/* **** **** **** Navigationbar hover mus  ******** **** */
ul#mynav {
  list-style-type: none;
  padding-left: 40px;
  margin: 0;
  /* font-family: "Bodoni Moda SC", serif; */
}

ul#mynav li {
  margin-bottom: 10px;
  /* Lägger till ett mellanrum mellan varje länk */
}

ul#mynav li a {
  text-decoration: none;
  opacity: 80%;
  color: white;
  display: block;
  padding: 15px;
  font-size: 40px;
  font-family: "Cinzel Decorative", serif;
  cursor: pointer;
  transition: font-size 0.2s ease, transform 0.2s ease;
}

ul#mynav li a:hover {
  font-size: 22px;
  transform: scale(1.05);
}

/*  ******** *************** ****************** *************************************** ************ */
/*  ******** **** **** FLEX BOX CENTER FÖR ALLA TRE , navigationbar, information  och timercontdown ************ */
.MainCenterBox {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #DDF7D1;
  padding: 15px 0px 40px 0px;
  margin: 40px 70px 60px 70px;
  box-shadow: 0px 0px 20px white;
}

#navigationbar {
  width: 200px;
}

.information {
  flex: 1;
  padding: 20px;
  background-color: #F4FBF2;
  margin: 20px 50px 10px 70px;
  border-radius: 3px;
  font-family: "Old Standard TT", serif;
  /* font-family: "Ruge Boogie", cursive; finns på HMLT sidan : informationsbrödtext  */
  box-sizing: border-box;
}


ul#mynav li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px 30px;
  display: block;
}

.content-section {
  display: none;
}

.content-section:first-child {
  display: block;
}

.MainContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/*  ************ ****Time Conter Down  **** *********/
#TimeCountDown {
  /*timmar, minuter */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
}

#TimeCountDown div {
  margin: 0 50px;
  text-align: center;
  font-family: "Bodoni Moda SC", serif;
  font-size: 25px;
  
}




/*  ******** **** Time Conter Down FÖR  linje OCH texten **** ****  */
hr {
  width: 80%;
}

.TimerCountText {
  text-align: center;
  font-size: 40px;
  font-family: "Bodoni Moda SC", serif;
  color: black;
}

.HelaTimeCountDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.fannyCopyright {
  text-align: left;
  margin-left: 10px;
  color: white;

}

/* ********* ********** ******** carousel ************** **************/
.carousel-item>img {
  max-width: 100%;
}

.carousel {
  width: 380px;
}

.style-cauresell-bilder {
  display: flex;
  flex-flow: wrap;
  gap: 15px;
}

/* ********* ********** ******** Spex bild ************** **************/
#spexbild {
  display: flex;
  justify-content: center; /* Centrerar innehållet i div */
  align-items: center; /* Centrerar lodrätt om det behövs */
}

.spexbildClass {
  max-width: 50%; /* Gör bilden hälften så bred som sin föräldra-div */
  height: auto; /* Bevarar proportionerna */
  display: block; /* Gör det enklare att hantera */
  margin: 0 auto; /* Centrerar bilden */
}

/*  ********* ********** ******** Links in brödtext or klickbara  ********* ********** ******** */
.OSAlinkValkomen a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.OSAlinkValkomen a:hover {
  text-decoration: underline;
}



/* ********** ******** Button and navigationbar ********** ******** */
#navigationbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

#menuToggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: black;
}

ul#mynav {
  list-style: none;
  padding-left: 10px;
  display: block;
  gap: 20px;
}

/* ******** Ramrunt festschema ******** */
.ramrunt {
  border: 2px solid #cccccc;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.festhelglinjer {
  height: 2px;
  background-color: gray;
  width: 60%;
  display: block;
  margin: 15px auto;
  border: none;
}

.boendehelglinjer {
  height: 2px;
  background-color: gray;
  width: 60%;
  display: block; 
  border: none;
  margin: 20px auto; /* Centrerar och lägger till mellanrum ovanför och under */
}


/* ************  ********  Flagga  ****** ****** */
.flaggSWE, .flaggGER {
  width: 90px;
  /* Gör flaggorna mindre */
  height: auto;
  cursor: pointer;
  position: fixed;
  z-index: 2500;
  top: 10px;
}

.flaggSWE {
  right: 110px;
}

.flaggGER {
  right: 10px;
}

/* ******* ********* Bröllopsfölje Bilder  ********* ********/
.brollopsfoljeBild {
  width: 100%; 
  margin: 0 auto;
}

.brollopsfoljeBild img {
  float: left; 
  margin: 0 10px 5px 0; 
  width: 40%; /* strolek på bilden*/
  padding: 10px;
}

.brollopsfoljeBild p {
  margin: 0 0 20px 0; /*  avstånd under texten */
  font-size: 18px;
  padding-top: 6px;
}

.reparatlinjer {
  height: 2px;
  background-color: gray;
  width: 60%; /* Sätt bredden till 60% av föräldrakontainern */
  margin: 15px auto; 
  border: none;
}

.scrollPrevent{
  height: 100%;
  overflow: hidden;
}
/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */
/* ******** ******** ********  NAVIGERINGMENY @media query 900 ******** ******** ******** ********   */
/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */

@media (max-width: 900px) {
  #menuToggle {
    display: block;
    position: fixed;
    z-index: 2000;
    background-color: #DDF7D1;
    width: 100%;
    text-align: left;
    color: black;
  }

  ul#mynav {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 35px;
    left: 0;
    background-color: #DDF7D1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1500;
  }

  ul#mynav.visible {
    max-height: 100vh;
    overflow-y: auto;
  }

  body {
    /* Bakgrundbild skogen  */
    background-size: cover;
    background-position: center;
  }

  .MainCenterBox {
    /* Bakgrund för MainCenterBox */
    margin: 4px;
    border-radius: 0;
  }

  .content-section {
    display: block;
  }

  #navigationbar {
    z-index: 1000;
    visibility: hidden;
  }

  /*  ************ ****Time Conter Down  **** *********/
  hr {
    width: 80%;
  }

  .TimerCountText {
    font-size: 25px;
  }

  #TimeCountDown div {
    margin: 5px;
  }

  #TimeCountDown div {
    font-size: 20px;
    margin-bottom: 3px;
  }

  #TimeCountDown {
    font-size: 15px;
  }

  /*  ************ **** Information   **** *********/
  .information {
    margin: -5px 10px 0px -210px;
  }

/* ********* ********** ******** carousel ************** **************/
  .carousel-item>img {
    max-width: 100%;
  }
  .carousel {
    width: 320px;
  }

  .style-cauresell-bilder {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 15px;
  }
  /* ************  ******** ** Flagga  ****** ****** */
  .flaggSWE, .flaggGER {
    width: 50px;
    /* Gör flaggorna mindre */
    height: auto;
    cursor: pointer;
    position: fixed;
    z-index: 2500;
    top: 6px;
  }
  .flaggSWE {
    right: 65px;
  }
  .flaggGER {
    right: 10px;
  }
  
  /* ********* ********** ******** carousel ************** **************/
  #spexbild {
    display: flex;
    justify-content: center; /* Centrerar innehållet i div */
    align-items: center; /* Centrerar lodrätt om det behövs */
  }
  
  .spexbildClass {
    max-width: 70%; /* Gör bilden hälften så bred som sin föräldra-div */
    height: auto; /* Bevarar proportionerna */
    display: block; /* Gör det enklare att hantera */
    margin: 0 auto; /* Centrerar bilden */
  }
  
}


/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */
/* ******** ******** ********  NAVIGERINGMENY @media query 375 ******** ******** ******** ********   */
/* ******** ******** ******** ********   ******** ******** ******** ********   ******** ******** ******** ********    */
@media (max-width: 375px) {

  .carousel-item>img {
    max-width: 100%;
  }
  .carousel {
    width: 310px;
  }
  .style-cauresell-bilder {
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    gap: 10px;
  }

  #TimeCountDown div {
    margin: 10px;
    text-align: center;
    font-family: "Bodoni Moda SC", serif;
    font-size: 15px;
    
  }
}




/* bordplacering */

/*  ****** ****** ****** Popup, info, bilder och text ****** ****** ******  */
#guest-info {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 10px;
  max-width: 450px;
  background-color: rgb(208, 193, 242);
  border-radius: 3px;
}

/* .guest-content {
  display: flex;
  align-items: flex-start;
} */

#guest-image {
  width: 40%;
  height: 40%;
  margin-right: 15px;
  border-radius: 3px;
  display: block;
}


#guest-description {
  font-size: 15px;
  text-align: left;
  max-width: 400px;
  margin: 0;
  padding: 0;
}

.chair:hover {
  cursor: pointer;
  stroke-width: 2;
  stroke: darkgray;
}


  /* Exempel på media query för att justera popupen på mobila enheter */
@media (max-width: 375px) {
  #guest-info {
    width: 50%; /* Gör popupen bredare på små skärmar */
    font-size: 14px; /* Justera textstorlek för små skärmar */
  }

  #guest-image {
    width: 100%; /* Gör bilden mindre på små skärmar */
    display: block;
  }
}
